body {
    background-color: azure;
    text-align: center;
}

h1 {
    color: darkkhaki;
    font-size: 70px;
    text-align: center;
}

p {
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

a {
    color: darkkhaki;
    font-size: 15px;
    text-decoration: none;
}

a :hover {
    color: black;
    
}

#div1 img {
    height: auto;
    width: auto;
}

#div2 img {
    height: 500;
    width: 1000;
}